:root {
    --custom-carousel-control-color: #000000; /* Your custom color here */
}

html, body {
    background-color:rgb(229, 233, 233);
}

#root {
    margin-bottom: 2em;
    margin-top: 2em;
    margin-left: 5em;
    margin-right: 5em;
}

#editing {
    margin-left: 20em;
    margin-right: 20em;
}

.breadcrumb-item > a {
    color: #fff;
    text-decoration: none;
}

.breadcrumb-item > a:hover {
    color: #0748c2;
    text-decoration: none;
}

.carousel-control-prev,
.carousel-control-next,
.carousel-control-prev:hover,
.carousel-control-next:hover  {
    color: var(--custom-carousel-control-color);
    opacity: 1;
    font-size: larger;
}

.carousel-control-prev {
    margin-left: 20%;
}

.carousel-control-next {
    margin-right: 20%;
}

h2 {
    text-align: center;
    margin-top: 2em;
    margin-bottom: 2em;
}

#categories {
    justify-content: center;
}

#item-card {
    width: 25rem;
    margin: 1rem;
}

#category-card {
    width: 10rem;
}

.card {
    color: #000000;
    border: #000000 1px solid;
    word-wrap: break-word;
}

#card-footer {
    color: red;
}


#home {
  width: 100%;
}

#item-image {
    width: auto;
    height: 20vw;
    -o-object-fit: cover;
       object-fit: cover;
}

#list-image{
    width: auto;
    height: 15vw;
    -o-object-fit: cover;
       object-fit: cover;
}

.icon-active {
    color: red;
}

.icon-not-active {
    color: rgb(143, 141, 141);
}

