:root {
    --custom-carousel-control-color: #000000; /* Your custom color here */
}

html, body {
    background-color:rgb(229, 233, 233);
}

.container {
    margin-bottom: 2em;
    margin-top: 2em;
    align-items: flex-start;
}

.carousel-control-prev,
.carousel-control-next,
.carousel-control-prev:hover,
.carousel-control-next:hover  {
    color: var(--custom-carousel-control-color);
    opacity: 1;
    font-size: larger;
}

.favouriteIconNotActive{
    color: rgb(20, 41, 59) !important;
}

.favouriteIconActive{
    color: #000000 !important;
}

h2 {
    text-align: center;
    margin-top: 2em;
    margin-bottom: 2em;
}

#categories {
    justify-content: center;
}

#item-card {
    width: 25rem;
    margin: 1rem;
}

#category-card {
    width: 10rem;
}

.card {
    color: #000000;
    border: #000000 1px solid;
    word-wrap: break-word;
}

#card-footer {
    color: red;
}


#home {
  width: 100%;
}

#item-image {
    width: 100%;
    height: 20vw;
    -o-object-fit: cover;
       object-fit: cover;
}

