#root {
    height: 100vh;
    width: 100vw;
  }

.container {
    display: flex;
}

.content {
    /*flex: 1;*/
    height: fit-content;
    width: 100vw;
    background-color: #ffffff;
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 1em;
}

tab-content {
    display: flex;
    flex-direction: column;
}

.tab-pane {
    flex-grow: 1;
    width: 100%;
}

.card {
    /*flex: 0 0 calc(23% - 1em);*/
    margin-bottom: 4em;
    border-radius: 5px;
}