.profile-header {
    position: relative;
    overflow: hidden;
}

.profile-header .profile-header-cover {
    background-color: #212529;
    background-position: center;
    opacity: 90%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.items-row{
    float: right;
    position: relative;
    padding: 2em;
}

.profile-header .profile-header-content {
    color: #fff;
    padding: 2em;
}
/*profile picture*/
.profile-header-img {
    float: left;
    width: 10em;
    height: 10em;
    margin-bottom: 2em;
    position: relative;
}

.profile-header-img img {
    max-width: 100%
}

.profile-header-info h4 {
    font-weight: 500;
    color: #fff
}

.profile-header .profile-header-content,
.profile-header {
    position: relative
}

.profile-header .profile-header-tab .profile-items {
    background: #fff;
    list-style-type: none;
    white-space: nowrap;
    border-radius: 0
}

.hiddenRow {
    padding: 0 !important;
}